@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .allinputs {
    @apply w-full my-[6px] rounded-[4px]  border-[1.5px] border-solid border-[#BCBCBC]  focus:border-[1.5px]  focus:border-[#BCBCBC]   focus:border-solid   focus:ring-0;
  }

  .correctInput {
    @apply w-full my-[6px] rounded-[4px]  border-[1.5px] border-solid border-[#98E37E] focus:border-[1.5px]  focus:border-[#98E37E] focus:border-solid   focus:ring-0;
  }

  .incorrectInput {
    @apply w-full my-[6px] rounded-[4px]  border-[1.5px] border-solid border-[#EF5050] focus:border-[1.5px]  focus:border-[#EF5050] focus:border-solid   focus:ring-0 animate-pulse duration-300 animate-once z-10;
  }

  .inputsDiv {
    @apply w-full border-solid  rounded-[4px] relative;
  }
  .inputDesc {
    @apply text-[14px] font-helveticLight text-[#2E2E2E];
  }
  .cvTitles {
    @apply text-[#F93B1D] text-[18px] font-helveticBold;
  }

  .correctIcon {
    @apply absolute right-2 top-[50%] translate-y-[-50%] w-[20px];
  }

  .errorIcon {
    @apply absolute right-[-30px] top-[50%] translate-y-[-50%] w-[20px];
  }
}

body {
  background-color: #f9f9f9;
}

.animate-once {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bacgkroundImage {
  background-image: url("/public/img/background.jpg");
}

@layer base {
  @font-face {
    font-family: "helvetic";
    src: url("/public/fonts/helvatic/HelveticaNeue-01.ttf");
  }

  @font-face {
    font-family: "helveticSemibold";
    src: url("/public/fonts/helvatic/HelveticaNeue-Medium-11.ttf");
  }

  @font-face {
    font-family: "helveticBold";
    src: url("/public/fonts/helvatic/HelveticaNeue-Bold-02.ttf");
  }

  @font-face {
    font-family: "helveticLight";
    font-weight: 300;
    src: url("/public/fonts/helvatic/HelveticaNeue-Light-08.ttf");
  }

  @font-face {
    font-family: "second";
    src: url("/public/fonts/other/alkdots-webfont.woff") format("woff");
  }
}
