@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .allinputs {
    @apply w-full px-[16px] py-[13px] my-[6px] outline-none border-[#BCBCBC] border-solid border-[1px] rounded-[4px];
  }

  .inputDesc {
    @apply text-[14px] font-helveticLight text-[#2E2E2E];
  }
}
body {
  background-color: #f9f9f9;
}

@layer base {
  @font-face {
    font-family: "helvetic";
    src: url("/public/fonts/helvatic/HelveticaNeue-01.ttf"),
      url("/public/fonts/helvatic/HelveticaNeue-Bold-02.ttf"),
      url("/public/fonts/helvatic/HelveticaNeue-Italic-03.ttf"),
      url("/public/fonts/helvatic/HelveticaNeue-MediumItalic-12.ttf"),
      url("/public/fonts/helvatic/HelveticaNeue-UltraLight-06.ttf");
  }

  @font-face {
    font-family: "helveticLight";
    font-weight: 300;
    src: url("/public/fonts/helvatic/HelveticaNeue-Light-08.ttf");
  }

  @font-face {
    font-family: "second";
    src: url("/public/fonts/other/alkdots-webfont.woff") format("woff");
  }
}

.bacgkroundImage {
  background-image: url("/public/img/background.png");
}
